table {
    background-color: darkgrey;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
}

.tableHead {
    padding: 20px;
    border: solid;
    background-color: darkgray;
}

.tableTime {
    padding: 20px;
    border: solid;
}


td {
    border: 1px solid black;
}

.tableCell {
    padding: 20px;
}

.table-head {
    background-color: brown;
    color: white;
}

.available {
    color: teal;

}

.booked {
    background-color: green;
    color: white;
}

.booked .flexible {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hidden {
    display: none;
}

.close {
    width: 14px;
    height: 14px;
    cursor: pointer;
    background-image: url('./trash.png');
    background-size: 14px 14px;
    background-repeat: no-repeat;
}

.error {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: pink;
    color: red;
    padding: 10px 15px;
}


.form {
    display: flex;
    flex-direction: column;
}
.form-fields-wrapper {
    width: 50%;
}
.form-actions {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}
.form-actions button {
    padding: 10px 5px;
    width: calc(50% - 5px)
}
.label {
    display: flex;
    margin-bottom: 25px;
}

.custom-select-wrapper {
    position: relative;
    width: 50%;
}

.label-input {
    width: 50%;
    padding: 10px 5px;
}
.label-text {
    width: 50%;
}
#error-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-image: url('./erroricon1.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
}
#close-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-image: url('./CloseIcon1.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
}
#schedule-header {
    display: flex;
    width: 98%;
    padding: 10px 15px;
}

#selectAttender {
    margin-left: auto;
}

.popup {
    background-color: darkgrey;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    padding: 15px;
    border-radius: 10px;
    border: solid 1px black;
}
